/* color pallet */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* If you want to use the font, you can import it like this:*/
/* font-family: 'Shrikhand', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* if you want to use the font, you can import it like this:*/
/*font-family: 'Roboto', sans-serif; */
.header {
  width: 100%;
  text-align: center;
  height: 63px;
}

.header__arrow {
  position: absolute;
  left: 8%;
  top: 31.5px;
  font-size: 1.3em;
  color: #000000;
}

.footer {
  height: auto;
  background-color: #353535;
}

.footer__content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8%;
}

.footer__content__list {
  list-style: none;
  padding: 0%;
}

.footer__content__list__item {
  margin-top: 6px;
  margin-bottom: 6px;
}

.footer__content__list__item__link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Roboto';
}

.footer__content__list__item__link__icon {
  margin-right: 5px;
  width: 15px;
}

body {
  margin: 0;
  height: auto;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
}

.Logo {
  font-family: 'Shrikhand', cursive;
}

.Logo--header {
  width: 100%;
}

.Logo--footer {
  font-size: 1.5em;
  color: #FFFFFF;
  margin-bottom: 2px;
}

.Explorebox__Button {
  color: white;
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 218px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 0.9em;
  font-weight: bolder;
}

.Howtobox__Step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 70px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21.5px;
  margin-bottom: 21.5px;
  border-radius: 20px;
  background: #f6f6f6;
  -webkit-box-shadow: 1px 1px 1px 1px #eaeaea;
          box-shadow: 1px 1px 1px 1px #eaeaea;
  font-size: 1em;
  font-weight: bold;
  position: relative;
}

.Howtobox__Step__number {
  position: absolute;
  left: -10px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFFFFF;
  height: 25px;
  width: 25px;
  font-size: 0.7em;
  text-align: center;
  line-height: 25px;
}

.Howtobox__Step__icon {
  position: absolute;
  margin-right: 5px;
  left: 40px;
  color: #7e7e7e;
}

.Howtobox__Step__icon--colored {
  color: #9356DC;
}

.Howtobox__Step--markup {
  background: #f5edff;
}

.Restaurantsbox__List__Cards {
  margin-left: auto;
  margin-right: auto;
  width: 89%;
  height: 252px;
  -webkit-box-shadow: 1px 1px 1px 1px #eaeaea;
          box-shadow: 1px 1px 1px 1px #eaeaea;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
  overflow: hidden;
}

.Restaurantsbox__List__Cards__imageframe {
  display: block;
  height: 175px;
  overflow: hidden;
  position: relative;
}

.Restaurantsbox__List__Cards__imageframe__image {
  width: 100%;
  height: auto;
}

.Restaurantsbox__List__Cards__imageframe__newbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 30px;
  position: absolute;
  top: 12px;
  right: 4px;
  background-color: #99E2D0;
  color: #008766;
}

.Restaurantsbox__List__Cards__titlebox {
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.Restaurantsbox__List__Cards__titlebox__onlytext {
  text-decoration: none;
  color: black;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Restaurantsbox__List__Cards__titlebox__onlytext__title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 17px;
  margin-bottom: 4px;
}

.Restaurantsbox__List__Cards__titlebox__onlytext__location {
  margin-top: 4px;
  margin-bottom: 17px;
}

.Locationbox {
  background-color: #eaeaea;
  color: #353535;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.Explorebox {
  background-color: #f6f6f6;
  height: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
}

.Explorebox__title {
  width: 65%;
}

.Explorebox__Text {
  width: 75%;
  color: #353535;
}

.Howtobox {
  width: 100%;
  height: 440px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Howtobox__title {
  margin-left: 5%;
  margin-top: 50px;
}

.Howtobox ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.Restaurantsbox {
  background-color: #f6f6f6;
  width: 100%;
  margin-bottom: 30px;
}

.Restaurantsbox__title {
  margin-left: 5%;
  margin-top: 50px;
}

.Restaurantsbox ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
