@mixin buttonexplore
{
    color: white;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 218px;
    background: linear-gradient($color-secondary, $color-primary);
    font-size: 0.9em;
    font-weight: bolder;
}
@mixin buttonstep
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 94%;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 50px;
    background: linear-gradient($color-secondary, $color-primary);
}