.Restaurantsbox__List__Cards
{
    margin-left: auto;
    margin-right: auto;
    width: 89%;
    height: 252px;
    box-shadow: 0.1px 0.1px 0.1px 0.1px $color-locationbox;
    border: $color-locationbox 0.1px solid;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    overflow: hidden;
    background-color: $color-light;
    &__imageframe
    {
        display: block;
        height: 175px;
        overflow: hidden;
        position: relative;
        &__image
        {
            width: 100%;
            height: auto;
        }
        &__newbox
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 30px;
            position: absolute;
            top: 12px;
            right: 8px;
            background-color: $color-tertiary;
            color: $color-tertiarytext;
        }
    }
    &__titlebox
    {
        height: 69px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
        &__onlytext
        {
                text-decoration: none;
                color: black;
                display: block;
                flex-direction: column;
            &__title
            {
                font-size: 1.2em;
                font-weight: bold;
                margin-top: 17px;
                margin-bottom: 4px;
            }
            &__location
            {
                margin-top: 4px;
                margin-bottom: 17px;
            }
        }
    }
}
/* Menu list*/
.Menu__content__section
{
    & ul
    {
        @include list-style-type-none;
    }
    &__food
    {
        display: flex;
        background-color: $color-light;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        height: 68px;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 10px;
        box-shadow: $color-locationbox 10px 10px 10px;
        padding-left: 10px;
        &:active .Menu__content__section__food__checked
        {
            transform: translateX(0px);
        }
        &:active .Menu__content__section__food__textbox__price
        {
            transform: translateX(0px);
        }
        &:active .Menu__content__section__food__checked__box
        {
            transform: rotate(360deg);
        }
        &__textbox
        {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            &__title
            {
                font-size: 1.2em;
                margin-top: 2px;
                margin-bottom: 2px;
                width: 222px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &__description
            {
                margin-top: 2px;
                margin-bottom: 2px;
                width: 222px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &__price
            {
                position: absolute;
                margin: 0%;
                right: 23px;
                bottom: 5px;
                font-size: 0.8em;
                transform: translateX(58px);
                transition: transform 300ms ease-in-out;
            }
        }
        &__checked
        {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-tertiary;
            height: 100%;
            width: 58px;
            color: $color-light;
            transition: transform 300ms ease-in-out;
            transform: translateX(58px);
            &__box
            {
                width: 19px;
                height: 19px;
                transition: transform 400ms 100ms ease-in-out;
                transform: rotate(0deg);
                &__i
                {
                    font-size: 19px;
                }
            }
        }
    }
}