.Loaderbox {
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: opacity_loader 1s 1s reverse ease-in-out both ;
    &__spiner {
        width : $loadersize/3;
        height: $loadersize/3;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        background: $centraldot;
        color:$sidedot;
        box-shadow: -$loadersize/2 0, $loadersize/2 0;
        animation: rotation 2s ease-in-out infinite;
      }
      & h1
      {
          margin-top: 50px;
          font-family: 'Shrikhand';
          width: 70%;
          text-align: center;
      }
}