.Locationbox
{
    background-color: $color-locationbox;
    color: $color-locationbox-text;
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.Explorebox
{
    background-color: $color-background;
    height: 286px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    &__title
    {
        width: 65%;
    }
    &__Text
    {
        width: 75%;
        color: $color-subtitle;
    }
    &__Button
    {
        @include buttonexplore();
    }
}