.Locationbox
{
    background-color: $color-locationbox;
    color: $color-locationbox-text;
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.Explorebox
{
    background-color: $color-background;
}