.container {
    height: 265px;
    width: 100%;
    z-index: -1;
    &__image
    {
        height: auto;
        width: 100%;
    }
}
.Menu
{
    z-index: 1;
    background-color: $color-background;
    margin-top: -45px;
    padding-top: 10px;
    width: 100%;
    border-radius: 35px 35px 0 0;
    &__header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 18px;
        padding-right: 40px;
        &__title
        {
            font-family: 'Shrikhand', cursive;
            font-size: 1.8em;
        }
        &__heart
        {
            font-size: 1.9em;
        }
    }
    &__content
    {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        &__section
        {
            &__title
            {
                font-weight: 400;
                margin-bottom: 8px;
            }
            &__underline
            {
                @include underline;
            }
        }
    }
    &__footer
    {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}