/* list of animations not in order of appearance */

/* this only applies ot the loading spinner */
@keyframes opacity_loader {
   0% {
      opacity: 0;
      z-index: -1;
   }
   100% {
      opacity: 1;
      z-index: 3;
   }
}
@keyframes rotation {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
/*end of loading spinner rules*/

/* how menu appears */
@keyframes menuloadsection {
   0% {
      opacity: 0;
      transform: translateY(5px);
   }
   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}
/* end of menu */

/* the little green box that appears when you click on a menu item */
@keyframes checkin {
   from {
      margin-right: -15%;
   }
   to {
      margin-right: 0%;
   }
}
@keyframes checkout {
   from {
      margin-right: 0%;
   }
   to {
      margin-right: -15%;
   }
}
@keyframes rotate_checkin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
@keyframes rotate_checkout {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
/* end of the green box */
