@mixin list-box-home
{
    &__title
    {
        margin-left: 5%;
        margin-top: 50px;
    }
    ul{
        @include list-style-type-none()
    }
}
@mixin list-style-type-none {
    list-style-type: none;
        padding: 0;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
}

@mixin underline /*underline block*/
{
    width: 10%;
    height: 3px;
    background-color: $color-tertiary;
}