/* list of mixin not in order of use */

/* only for home page, allow to center the content and negate default list style*/
@mixin list-box-home {
   &__title {
      margin-left: 5%;
      margin-top: 50px;
   }
   ul {
      @include list-style-type-none();
   }
}

/* allow to negate default list style */
@mixin list-style-type-none {
   list-style-type: none;
   padding: 0;
   width: 100%;
   margin-top: auto;
   margin-bottom: auto;
}
/* underline block under each title on menu like "entrées, plats, desserts" */
@mixin underline {
   width: 10%;
   height: 3px;
   background-color: $color-tertiary;
}

/* format the major button to the same size+color+padding etc. */
@mixin button {
   color: white;
   border: none;
   border-radius: 50px;
   height: 50px;
   width: 40%;
   background: linear-gradient($color-secondary, $color-primary);
   font-size: 0.9em;
   font-weight: bolder;
   position: relative;
   z-index: 1;
   text-align: center;
   cursor: pointer;
   line-height: 50px;

   @media screen and (max-width: 768px) {
      width: 58%;
   }

   &__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-radius: 50px;
      z-index: -1;
      bottom: 0;
      background: linear-gradient($color-secondarylight, $color-primarylight);
      &:hover {
         animation: buttonEffect1 300ms ease-in-out both;
      }
      &:not(:hover) {
         animation: buttonEffect2 300ms ease-in-out both;
      }
   }
}

/* allow to format image in a div for better size */
@mixin images {
   background-clip: content-box;
   background-size: cover;
   background-position: center;
}

/* if you want to add a restaurant, this is where you should add its image and add the correct modifier name*/
@mixin restaurantclass {
   &--palette {
      background-image: url("../../Public/Image/Restaurants/La_palette_du_gout.jpg");
      @media (max-width: 768px) {
         background-image: url("../../Public/Image/Restaurants/La_palette_du_gout_small.jpg");
      }
   }
   &--france {
      background-image: url("../../Public/Image/Restaurants/a_la_francaise.jpg");
      @media (max-width: 768px) {
         background-image: url("../../Public/Image/Restaurants/a_la_francaise_small.jpg");
      }
   }
   &--note {
      background-image: url("../../Public/Image/Restaurants/La_note_enchantee.jpg");
      @media (max-width: 768px) {
         background-image: url("../../Public/Image/Restaurants/La_note_enchantee_small.jpg");
      }
   }
   &--delice {
      background-image: url("../../Public/Image/Restaurants/Le_delice_des_sens.jpg");
      @media (max-width: 768px) {
         background-image: url("../../Public/Image/Restaurants/Le_delice_des_sens_small.jpg");
      }
   }
}

/* set of rules to making the like button work*/
@mixin like {
   position: relative;
   &__empty {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity 0.2s ease-in-out;
   }
   &__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      background: linear-gradient($color-primary, $color-secondary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
}
