/*List of value*/

/* color pallet */
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-primarylight: lighten($color-primary, 10%);
$color-secondarylight: lighten($color-secondary, 10%);
$color-tertiary: #99e2d0;
$color-tertiarytext: #008766;
$color-footer: #353535;
$color-dark: #000000; /*black*/
$color-light: #ffffff; /*white*/
$color-background: #f6f6f6;
$color-locationbox: #eaeaea;
$color-subtitle: #353535;
$color-icon-neutral: #7e7e7e;
$color-Howtobutton3: #f5edff;
$color-shadow: #e7e7e7;
$color-shadow2: #7e7e7e;

/*loader values */
/* color pallet of the loader*/
$sidedot: $color-secondary;
$centraldot: $color-tertiary;
/*size*/
$loadersize: 48px;
/*End of loader values */

/* value for checkbox animation */
$checktime: 0.4s;
