

/* color pallet */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #353535;
$color-dark: #000000;
$color-light: #FFFFFF;
$color-background: #f6f6f6;
$color-locationbox: #eaeaea;
$color-locationbox-text: #353535;
$color-subtitle: #353535;
$color-icon-neutral: #7e7e7e;
$color-Howtobutton3 : #f5edff;